<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<div th:replace="components/bootstrap :: bootstrap"></div>

<div class="container-fluid">
    <h1 class="text-center">Simple CRUD-Spring app</h1>
    <a th:href="@{add}">
        <button type="button" class="btn btn-primary">Add new book</button>
    </a>
    <h2>Books List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Name</th>
            <th>Pages</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.pages}"></td>
            <td><a th:href="@{book-update/{id}(id=${book.id})}">
                <button type="button" class="btn btn-success">Edit</button>
            </a></td>
            <td><a th:href="@{book-delete/{id}(id=${book.id})}">
                <button type="button" class="btn btn-danger">Delete</button>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>